src/main/xsd/schema.xsd

<xs:schema elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Obed">
    <xs:sequence>
      <xs:element name="date"   type="xs:string"/>
      <xs:element name="meal" type="xs:string"/>
      <xs:element name="restaurant"   type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Obedy">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="obed" type="Obed"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
